html{
    font-family: "Courier New", serif;
}
.container{
    text-align: justify;
    display: block;
    width: 70%;
    margin: 0 15% 0;
    line-height: 2.5em;
}
h1{
    font-size: 3em;
    text-align: center;
    font-style: italic;
}

.container p{
    font-size: 1.3em;
    font-style: italic;
}
.container p:first-child::first-letter{
    font-size: 2.5em;
    color: red;
}
